@page
@model WebApp.Pages.SamplePages.IndexModel
@{
    ViewData["Title"] = "Default page in Samples";
}
<h1>Sample default page</h1>

<p>
    This is the same as your default within your 
    web page subfolder of your scenario in the group project
</p>
<p>On this page would go:  Bugs, unknown problems, etc.</p>
<img src="~/img/ChinookMusic.jpg"
     alt="Logo Image"/>
