<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*https://holidaycss.js.org/*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/ChinookMusicMenuLogo.jpg"
                             alt="Chinook Logo"
                             title="Go to Home" />
                    </a>
                </li>
                @*
                    Setup a submenu (drop-down menu) using holiday.css
                        see holidaycss.js.org
                        
                    Start with an li tag
                    add a span tag:  entry on menu root
                    add a ul tag:  starts the drop-down menu
                    add any number of lt and "a" tags: sub menu item entry
                *@
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <span>Samples</span>
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/SamplePages/Basics">Basics</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>

        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>